* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1a1a1a;
    color: aliceblue;
    border: none;
    cursor: pointer;
    position: sticky;
    flex-wrap: wrap;
}

.navbar nav a {
    margin: 0 10px;
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.top-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.search-input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 16px;
    border-radius: 5px;
    width: 220px;
    font-size: 14px;
    background: #1a1a1a ;
    color: #ccc;
}
.cart-link:hover {
    text-decoration: underline;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* BUTTONS */
.btn {
    font-weight: bold;
    background: #272424;
    padding: 10px 30px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
/* .btn-login{
    border: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px 40px;
    font-size: 20px;
    background: #1a1a1a;
    color: #ccc; */
}
.main-bottom{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn.red {
    background: #e50914;
}

.btn:hover {
    opacity: 0.8;
}

/* HERO SECTION */
.hero {
    display: flex;
    padding: 50px 40px;
    background: #181818;
    gap: 40px;
}

.hero-left img {
    cursor: pointer;
    width: 260px;
    border-radius: 10px;
}

.hero-right h1 {
    font-size: 45px;
    margin: 10px 0;
}

.tags span {
    margin-right: 10px;
    color: #bbb;
}

.description {
    margin: 20px 0;
    line-height: 1.5;
}

.movie-info {
    margin: 15px 0;
    color: #f8f6f6;
}

.hero-buttons button {
    margin-right: 10px;
    color: white;
}

/* MOVIE GRID */
.movie-section {
    padding: 50px 40px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
}

.movie-card {
    cursor: pointer;
    background: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card h4 {
    color: aliceblue;
    margin-top: 10px;
}

/* footer */
.footer {
  height: 60px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}
