* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000000;
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1a1a1a;
    color: aliceblue;
    border: none;
    cursor: pointer;
    position: sticky;
}
.navbar nav a {
    margin: 0 10px;
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.top-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.search-input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 16px;
    border: 1px solid #302a2a;
    border-radius: 5px;
    width: 220px;
    font-size: 14px;
    background: #1a1a1a;
    color: #ccc;
}

.cart-link {
    color: #8c52ff;        
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.cart-link:hover {
    text-decoration: underline;
}


.logo {
    font-size: 22px;
    font-weight: bold;
}

.btn{
    background-color: #111;
    padding: 10px 30px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.main-bottom{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn.red {
    background: #e50914;
}

.btn:hover {
    opacity: 0.8;
}
.Favorite-Movie{
    justify-content: center;
    align-items: center;
    display: flex;
}

.content{
    display: flex;
    padding: 20px;
}
.movie-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.movie-card {
    cursor: pointer;
    background: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.movie-card img {
    align-items: center;
    width: 220px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.movie-card h4 {
    color: aliceblue;
    margin-top: 10px;
    font-size: 16px;
}


/* footer */
.footer {
  height: 60px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  margin-top: 10%;
}